{% extends 'base_nav.html' %}
{% block styles %}
  td *{
    margin-left: 10px;
  }
  td input, td select{
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: 10%;
    width: 100%;
    padding: 15px;
    border-radius:5px;
    border:1px solid #7ac9b7;
    display: block;
  }
{% endblock %}
{% block content %}
<h1>Add Inspector</h1>

<form action="" method="post">
    {% csrf_token %}
    <table>
      {{ form.as_table }}
    </table>
    <div>
      <input class="button" type="submit" value="Save" />
      <!-- Cancel button goes back to the inspector page if there is an inpsector primary key, otherwise it goes back to the list -->
      {% if inspector.id %}
      <a class="button reject" href="{% url 'inspector-detail' pk=inspector.id %}">Cancel</a>
      {% else %}
      <a class="button reject" href="{% url 'inspectors' %}">Cancel</a>
      {% endif %}
    </div>  
</form>
{% endblock %}
