{% extends 'table_page.html' %}

{% block title %}Inspector List{% endblock %}
{% block morestyles %}
#table-wrapper{
  width: 100%;
  background: red;
}
.options{
  width: 100%;
  text-align: center;
}
.options a{
  margin: 0 auto;
}
{% endblock %}
{% block inspectors-nav %}active{% endblock %}

{% block page_name %}My Inspectors{% endblock %}
<div id='table-wrapper'>{%block table-properties %}table table-border {%endblock %}
{% block table_head %}
  <th>Name</th>
  <th>classification</th>
{% endblock %}
{% block table_body %}
  {% for inspector in inspector_list %}
  <tr>
    <td><a href="{{ inspector.get_absolute_url }}"> {{ inspector.first_name }} {{ inspector.last_name }}</a></td>
    <td>{{ inspector.classification }}</td>
  </tr>
  {% endfor %}
</div>
{% endblock %}
{% block create %} 
<div class="options">
    {% if request.user.profile.role == 'Preparer' or request.user.profile.role == 'Manager' %}
    <a class="button submit" href="{% url 'inspector-create' %}">Add Inspector</a>
    <a class="button" href="{% url 'search-inspectors'%}">Toggle Inspectors</a>
    {% endif %}
</div>
{% endblock %}