:root {
    --prudent-orange: #F37224;
    --prudent-blue: #1269A8;
}
*, html, body {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Oswald', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    background-color: #FFF;
    padding-top: 0;
    padding-bottom: 0;
    min-height: 1000px;
}
#site-nav{
    width: 100%;
    display: flex;
    flex-direction: column;
}
nav {
    display: none;
    margin-top: 0;
}


.hamburger-container {
    display: block;
    cursor: pointer;
    width: 100%;
    margin-bottom: 0;
}
.burger1, .burger2, .burger3 {
    width: 35px;
    height: 5px;
    background-color: #1269A8;
    margin: 6px 0;
    transition: 0.4s;
}

/* Rotate first burger */
.change .burger1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

/* Hide second burger patty */
.change .burger2 {
    opacity: 0;
}

/* Flip last burger up */
.change .burger3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.menu {
    background-color: var(--prudent-orange);
    width: 100%;
    height: auto;
    padding: 0 14px;
    padding-bottom: 14px;
    /* max-height: 50%; */
    display: none;
    overflow: hidden;
}

.change .menu  {
    display: block;
    transition: 300px 0.4s ease;
}

.menu-box {
    min-height: 48px;
    height: auto;
    width: auto;
    background-color: white;
    text-align: center;
}

h1{
    margin: 0 auto;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    padding: 0 auto;
    text-align: center;
    width: 100%;
    font-size: 40px;
  }

  footer{
      margin-top: 150px;
      width: 100%;
      min-height: 150px;
      display: flex;
      flex-direction: column;
      text-align: center;
  }

  #color-block{
      min-height:150px;
      height:100%;
      width: 100%;
      background-color: var(--prudent-orange);
  }
  #info{
      height: 25px;
      background-color: sandybrown;
      margin-top: auto;
  }
  .menu a{
    color: #1269A8;
}



/* SCREEN SIZE >= 800px */
@media screen and (min-width: 800px) {
    html, body {
        background-color: #F1F1F1;
        height: 100%;
        margin: 0;
    }
    #site-nav{
        border-bottom: var(--prudent-orange) 1px solid;
        height: 15%;
    }
    .container {
        height: auto;
    }
    nav{
        display: inline-flex;
        overflow: hidden;
        background-color: #FFF;
        position: relative;
        justify-content: space-between;
        top: 0;
        width: 100%;
        margin-top: 0px;
        margin-bottom: 0px;
        vertical-align: top;
    }

    nav a{
        color: #1269A8;
    }
    footer {
        border-top: var(--prudent-orange) 1px solid;
        width: 100%;
        max-height: 450px;
    }
    .hamburger-container .burger1, .burger2, .burger3, .menu, .change, .menu-box{
        display: none;
    }
    .menu {
        display: none;
        border: none;
        background-color: #FFF;
    }


    .lgmenu-box {
        min-height: 24px;
        height: auto;
        width: auto;
        font-size: 36px;
        text-align: center;
        display: block;
        text-decoration: none;
    
    }
    .lgmenu-box:last-child {
        text-align: right;
    }
    
    
}
/* SCREEN SIZE >= 1024px */
@media screen and (min-width: 1024px) {
    .container{
        border-left: 1px solid var(--prudent-orange);
        border-right: 1px solid var(--prudent-orange);
        border-bottom: 1px solid var(--prudent-orange);
        max-width: 1000px;
        margin: 0 auto;
        height: auto;
        background-color: #FFF;
        min-height: 1366px;
    }

    .hamburger-container .burger1, .burger2, .burger3, .menu, .change, .menu-box{
        display: none;
    }
    .menu {
        display: none;
        border: none;
        background-color: #FFF;
    }
}

/* FORMS STUFF COPIED FROM INVOICE_CREATE */
a, href{
    text-decoration: none;
}
.button{
    border: 1px solid black;
    padding: 4px 6px;
    margin: 15px;
    margin-right: 3%;
    background-color: #e0e0e0;
    font-size: 2em;
    color: #000;
    border-radius: 5%; 
    max-height: 75px;       
}
.reject{
    background-color: red;
}
.submit{
    background-color: rgb(82, 151, 68);
    color: #fff;
} 

.automatic-comment{
    color: var(--prudent-orange);
}