{% extends "base_nav.html" %}
{% block title %}Create Invoice{% endblock %}
{% block styles %}
    a, href{
        text-decoration: none;
    }
    .button{
        border: 1px solid black;
        padding: 4px 6px;
        margin: 15px;
        margin-right: 3%;
        background-color: #e0e0e0;
        font-size: 2em;
        color: #000;
        border-radius: 5%;        
    }
    .reject{
        background-color: red;
    }
    .submit{
        background-color: rgb(82, 151, 68);
        color: #fff;
    } 
    input[type=text], input[type=number], select {
        margin-bottom: 20px;
        margin-top: 10px;
        margin-left: 10%;
        width: 300px;
        padding: 15px;
        border-radius:5px;
        border:1px solid #7ac9b7;
        display: block;
    }
    label {
        margin-left: 10%;
    }

    input[type=file] {
        margin-bottom: 20px;
        margin-top: 10px;
        margin-left: 10%;
        width:80%;
        padding: 15px;
    }
    @media screen and (min-width: 550) {
        input[type=text], input[type=number], select{
            width: 50%
        }
    }

    .fieldWrapper{
        display: inline-block;
    }

{% endblock %}
{% block content %}
<h1> Add Invoice Number: {{ invoice.name }} </h1>
<form action="" method="POST">
    {% csrf_token %}
    {% for field in form %}
    <div class="fieldWrapper">
        {{ field.errors }}
        {{ field.label_tag}} {{ field }}
    </div>
    {% endfor %}
    <div>
        <input class="button submit" type="submit" value="Save" />
        <a class="button reject" href="{% url 'invoices:details' pk=invoice.id %}">Cancel</a>
    </div>
</form>
{% endblock %}