<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    {% block headers %}{% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
    <link rel="stylesheet" href="{% static '/css/base_nav.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald|Shrikhand" >
    <style>
        {% block styles %} {% endblock %}
    </style>
</head>
<body>
    <div class="container">
        <div id="site-nav">
            <div class="hamburger-container" onclick="flipBurger(this)">
                    <div class="burger1" ></div>
                    <div class="burger2" ></div>
                    <div class="burger3" ></div>
            </div>
            
            <div class="menu">
                {% if request.user.profile.role == 'Observer' or request.user.profile.role == 'Reviewer' %}
                <div class="menu-box"><a href={% url 'profiles:dashboard' %}>Home</a></div>
                <div class="menu-box"><a href={% url 'projects' %}>Projects</a></div>
                <div class="menu-box"><a href={% url 'equipment' %}>Devices</a></div>
                <div class="menu-box"><a href={% url 'logout' %}>Logout</a></div>
                {% else %}
                <div class="menu-box"><a href={% url 'profiles:dashboard' %}>Home</a></div>
                <div class="menu-box"><a href={% url 'inspectors' %}>Inspectors</a></div>
                <!-- <div class="menu-box"><a href={% url 'invoices:invoices' %}>Invoices</a></div> -->
                <div class="menu-box"><a href={% url 'projects' %}>Projects</a></div>
                <div class="menu-box"><a href={% url 'equipment' %}>Devices</a></div>
                <div class="menu-box"><a href={% url 'logout' %}>Logout</a></div>
                {% endif %}
                
            </div>
            
            <!-- NAV for the desktop version -->
            <nav>
                    {% if request.user.profile.role == 'Observer' or request.user.profile.role == 'Reviewer' %}
                    <a class="lgmenu-box" href={% url 'profiles:dashboard' %}>Home</a>
                    <a class="lgmenu-box" href={% url 'projects' %}>Projects</a>
                    <a class="lgmenu-box" href={% url 'equipment' %}>Devices</a>
                    <a class="lgmenu-box" href={% url 'logout' %}>Logout {{ request.user.profile.display_name }}</a>
                    {% else %}
                    <a class="lgmenu-box" href={% url 'profiles:dashboard' %}>Home</a>
                    <a class="lgmenu-box" href={% url 'inspectors' %}>Inspectors</a>
                    <!-- <a class="lgmenu-box" href={% url 'invoices:invoices' %}>Invoices</a> -->
                    <a class="lgmenu-box" href={% url 'projects' %}>Projects</a>
                    <a class="lgmenu-box" href={% url 'equipment' %}>Devices</a>
                    <a class="lgmenu-box" href={% url 'logout' %}>Logout</a>
                    {% endif %}
            </nav>
        </div>
            {% block content %}{% endblock %}
    
    <footer>
        <div id="color-block"></div>
        <div id="info">Ralston Lawson &copy; 2018</div>
    </footer>
    </div>
        
        <script>
                function flipBurger(x) {
                    x.classList.toggle("change");
                    const menu_classes = document.getElementsByClassName("menu");
                    menu = menu_classes[0];
                    if (menu.style.display === "block") {
                        menu.style.display = "none";
                    } else {
                        menu.style.display = "block";
                    }
                }
                {% block script %}
                {% endblock %}
                
        </script>
</body>
</html>