{% extends 'table_page.html' %}

{% block title %}Device Inventory{% endblock %}

{% block equipment-nav %}active{% endblock %}

{% block page_name %}Device Inventory{% endblock %}
{%block table-properties %}table table-striped {%endblock %}
{% block table_head %}
      <th>Name</th>
      <th>Device Type</th>
      <th>Serial #</th>
      <th>Most Recent User</th>
{% endblock %}
{% block table_body %}
    {% for device in equipment_list %}
    <tr>
      <td><a href="{{ device.get_absolute_url }}">{{device.name }}</a></td>
      <td>{{ device.device }}</td>
      <td>{{ device.serial_number }}</td>
      <td>{{ device.get_current_user|default:"None" }}</td>
      {% endfor %}
  </table>
{% endblock %}

