{% extends 'base_nav.html' %}

{% block title %}{{equipment.name}}{% endblock %}
{% block styles %}
.info{
  width: 80%;
  margin: 0 auto;
  text-align:center;
}
table{
  text-align: center;
}
#device-facts{
  width: 100%;
  font-size: 24px;
}
.tabler, .tabler th, .tabler td{
  border-collapse: collapse;
  border: 1px solid #F1F1F1;
  padding: 5px;
  margin: 0 auto;
}
h2{
  text-align: center;
  width: 100%;
}
{% endblock %}

{% block content %}
<h1 class="text-center"> {{ equipment.name }} ({{equipment.device}})</h1>



<div id="device-facts">
    <table class="tabler">
        <thead>
            <th>Type</th>
            <th>Serial Number</th>
            <th>Phone #</th>
            <th>Current User</th>
        </thead>
       <tbody>
            <td>{{ equipment.device }}</td>
            <td>{{ equipment.serial_number }}</td>
            <td>{{  equipment.phone_number }}</td>
            {% if equipment.current_user %}
            <td><a href="{{ equipment.current_user.get_absolute_url }}">{{ equipment.current_user.first_name }} {{ equipment.current_user.last_name }}</a></td>
            {% else %}
            <td>None</td>
            {% endif %}
       </tbody>
    </table>
</div>
{% if equipment.checkout_set.all %}
<div class="info">

  <h2>User History</h2>
  <table class="table">
    <thead>
      <th>User</th>
      <th>Checkout Date</th>
      <th>Return Date</th>
    </thead>
    <tbody>
{% for checkout in equipment.checkout_set.all %}
      <tr>
        <td><a href="{{checkout.user.get_absolute_url}}">{{checkout.user.first_name}} {{checkout.user.last_name}}</a></td>
        <td>{{checkout.checkout_date}}</td>
        <td>{{checkout.return_date}}</td>
      </tr>
    
{% endfor %}
  </tbody>
  </table>
{% else %}

<h2>This device has no User History Available</h2>
{% endif %}
</div>
{% endblock %}

{% block script %}
  $(document).ready(function() {
    $('.table').DataTable({
      "pageLength": 5,
      "lengthChange": false,
    });
} );
{% endblock %}