{% extends 'base_nav.html' %}
{% load static %}

{% block headers %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
    <script src="{% static '/js/inspector_detail.js'%}"></script>
    <link rel="stylesheet" href="{% static '/css/inspector_detail.css' %}">
{% endblock %}

{% block title %} {{ inspector.first_name }} {{ inspector.last_name }} {% endblock %}

{% block content %}
<h1 data-id="{{ inspector.id }}"> {{ inspector.first_name }} {{inspector.last_name}} 
  {% if inspector.classification == '' %}
    (unknown)
  {% else %}
    ({{inspector.classification}})
  {% endif %}
</h1>


<div id="information">
  <div>
    <h5>Contact Information</h5>
    <p><strong>Email: </strong>{{ inspector.email }}</p>
    <p><strong>Phone: </strong>
      {% if inspector.phone_number %}
          ({{ inspector.phone_number|slice:":3"  }}) {{ inspector.phone_number|slice:"3:6"}}-{{ inspector.phone_number|slice:"6:"}}
      {% else %}
          Unlisted
      {% endif %}
    </p>
    <p><strong>Address: </strong>{{ inspector.address }}. {{ inspector.home_city }}, {{ inspector.home_state }}
      {{ inspector.home_zip }}
    </p>
    {% if inspector.resume %}
    <p><a class="doc" href="{{ MEDIA_URL}}/{{ inspector.resume }}" target="_blank">View resume {{ inspector.first_name }}</a></p>
    {% endif %}
  </div>
{% if inspector.is_employee %}
  <div>
    <h5>Project information</h5>
    <p><strong>Current Project: </strong>
        {% for project in inspector.get_current_project %}
          {% if forloop.first %}
            <a href="{{project.job.get_absolute_url}}">{{project.job.prudent_number}}</a>
          {% endif %}
        {% empty %}
          <span>None</span>
        {% endfor %}
    </p>
    <p><strong>Name:</strong>
      {% if inspector.get_current_project %}
        {% for project in inspector.get_current_project %}
          {% if forloop.first %}
            {{project.job.name}}
          {% endif %}
        {% endfor %}
      {% endif %}
    </p>
    <p><strong>Devices: </strong>
      {% if inspector.get_equipment_list %}
        {% for device in inspector.get_equipment_list %}<a href="{{ device.item.get_absolute_url }}"> {{device.item.name}} ({{device.item.device}})</a></span> {% if not forloop.last %} | {% endif %} {% endfor %}</p>
      {% else %}
        None
      {% endif %}
  </div>
{% endif %}
</div>




{% if inspector.is_employee %}
<div id="certs-table" class="table-container">
  <h2>Cert Expiration Dates</h2>

    <table class="table">
      <thead>
        <th>NICET</th>
        <th>PennDot Bituminous</th>
        <th>NECEPT Bituminous</th>
        <th>PennDot Concrete</th>
        <th>ACI Concrete</th>
      </thead>
      <tbody>
      <tr>
        <td>{{inspector.nicet_expiration}}</td>
        <td>{{inspector.penndot_bituminous}}</td>
        <td>{{inspector.necept_bituminous}}</td>
        <td>{{inspector.penndot_concrete}}</td>
        <td>{{inspector.aci_concrete}}</td>
      </tr>
    </tbody>
    </table>
</div>

<div id="work-history" class="">
  <h2>Work History</h2>
  <table id="history-table" class="datatable">
    <thead>
      <th>Project</th>
      <th>Duration</th>
      <th>Start Date</th>
      <th>End Date</th>
    </thead>
    <tbody>
      {% for story in history %}
      <tr>
      <td><a href="{{story.job.get_absolute_url}}">{{story.job.prudent_number}}</a></td>
      <td>{{story.duration|floatformat:1}} years </td>
      <td>{{story.start_date}}</td>
      <td>{{story.stop_date}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% else %}

<!-- THIS THE COMMENT SECTION AHOY -->

<div id="comments-section">
  <div id="add-comment-div">
    <form action="">
        {% csrf_token %}
      <textarea name="text" id="note-textarea" cols="30" rows="10" placeholder="Add a note on {{ inspector.first_name}}..."></textarea>
      <input type="button" id="add-note" value="Add Note">
    </form>
  </div>
  
  <div id="comments">
    {% for note in notes %}
    <div class="comment">
        <p class="commentor">{{ note.creator.profile.display_name }} </p>

        <p class="comment-body"> {{note.body}}</p>

        <p class="date">{{note.created_at|date:"m/d/Y h:iA"}}</p>
        
    </div>
    {% endfor %}
  </div>
</div>
{% endif %}

<div class="options">
    {% if request.user.profile.role == 'Preparer' or request.user.profile.role == 'Manager' %}
    <a class="button submit" id="edit-inspector" href="{% url 'inspector-update' pk=inspector.id %}">Edit Inspector</a>

    {% endif %}
</div>
{% endblock %}

{% block script %}
  $(document).ready(function() {
    $('.datatable').DataTable({
      "pageLength": 5,
      "lengthChange": false
    });
} );
{% endblock %}