{% extends "base_nav.html" %}
{% load static %}
{% load humanize %}

{% block title %}{{request.user}}- Dashboard{% endblock %}
{% block headers %}
<link rel="stylesheet" href="{% static '/css/dashboard.css' %}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
<script src="{% static '/js/dashboard.js' %}"></script>
{% endblock %}


{% block content %}
    
    <h1>{{ request.user.first_name }} {{ request.user.last_name }} - {{ request.user.profile.role}}: {{ request.user.profile.office }}</h1>
    {% if request.user.profile.role == 'Preparer' or request.user.profile.role == 'Manager' %}
    <div id="revenue-section" style="background-color: white">
    <canvas id="monthChart">

    </canvas>
    </div>
    <div id="progress-section">
        <h3>Invoiced to Date: ${{ revenue|intcomma}}</h3>
        <div id="progress-bar">
                <div data-percent={{revenue_percent}} id="progress">
                    {% if revenue_percent > 15 %}
                   {{ revenue_percent|floatformat:2}}%
                   {% endif %}
                </div>
            </div>
            <h3>2018 Goal: $1,000,000.00</h3>
    </div>
    {% endif %}
    <div id=main-content>

        <div id='queue'>   
        {% if request.user.profile.role == 'Preparer' %}
            <h2 id="invoice-queue-heading">Invoice Queue</h2>
        {% else %}
            <h2 id="invoice-queue-heading">Invoices awaiting your approval</h2>
        {% endif %}
        
            <ul> 
                {% for invoice in object_list %}
                <li>
                    <a href="{{ invoice.get_absolute_url }}">{{ invoice.name }}</a>
                    {% if request.user.profile.role == 'Preparer'%}
                    : {{ invoice.readable_status }}
                    {% endif %}
                </li>
                {% empty %}
                        <li> Your queue is empty </li>  
                {% endfor %}
            </ul>
        </div>
        <div id=table>
            <h2>Recent Activity</h2>
            <table>
                {% for invoice in recent %}
                    <tr><td>{{invoice.last_modified}} :{{ invoice.name}} moved to {{ invoice.readable_status }} by {{invoice.last_modified_by}}</td></tr>
                    {% empty %}
                        <tr><td>None</td></tr>
                {% endfor %}
            </table>
        </div>
    </div>
    {% if user.is_superuser %}
        <a id="admin" class="button" href="{% url 'admin:index' %}">Admin Site</a>
    {% endif %}
{% endblock %}