{% extends "base_nav.html" %}
    {%block styles %}
        a, href {
            text-decoration: none;
            
        }
        #main-content{
            width: 100%;
            display: flex;

        }
        #queue{
            width: 50%;
            text-align: center;
        }
        ul {
           list-style: none;
        }
        li {
            font-size: 24px;
        }
        #table{
            display: inline-block;
            width: 50%;
            text-align: center;
        }
        table{
            width: 100%;
        }
    {% endblock %}

{% block content %}
    <h1>{{ request.user.first_name }} {{ request.user.last_name }} - {{ request.user.profile.role}}: {{ request.user.profile.office }}</h1>
    <div id=main-content>
        <div id='queue'>   
        {% if request.user.profile.role == 'Preparer' %}
            <h2>Your invoice pipeline</h2>
        {% else %}
            <h2>Invoices awaiting your approval</h2>
        {% endif %}
        
            <ul> 
                {% for invoice in object_list %}
                <li>
                    <a href="{{ invoice.get_absolute_url }}">{{ invoice.name }}</a>
                    {% if request.user.profile.role == 'Preparer'%}
                    : {{ invoice.readable_status }}
                    {% endif %}
                </li>
                {% empty %}
                    {% if request.user.profile.role == 'Preparer'%}
                        <li> Pipeline Clean</li>
                    {% else %}
                        <li> Your queue is empty </li>
                    {% endif %}    
                {% endfor %}
            </ul>
        </div>
        <div id=table>
            <h2>Recent Activity</h2>
            <table>
                {% for invoice in recent %}
                    <tr><td>{{ invoice.name}} moved to {{ invoice.readable_status }} by {{invoice.last_modified_by}}</td></tr>
                    {% empty %}
                        <tr><td>None</td></tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}