{% extends "table_page.html" %}
    {% block title %}INVOICES{% endblock %}
    {% block morestyles %}
      *{
        text-align: center;
      }
      <!-- a, href{
        text-decoration: none;
        text-align: center;
        margin: 0 auto;
    } -->
      <!-- .titles {
        text-align: left;
      }
      .status {
        text-align: right;
      } -->


      .button{
        border: 1px solid black;
        padding: 4px 6px;
        background-color: #e0e0e0;
        font-size: 2em;
        color: #000;
        border-radius: 5%;        
    }
    .submit{
      background-color: rgb(82, 151, 68);
      color: #fff;
  } 
    .options{
      width: 100%;
      display: block;
    }
      {% endblock %}

{% block page_name %} Let Projects {% endblock %}
   {% block table_head %}
      <tr>
        <th class="titles">Project number</th>
        <th class="status">district</th>
        <th class="office">Winner</th>
      </tr>
  {% endblock %}
  {% block table_body %}
      {% for letproject in letprojects %}
        <tr>
          <td class="titles"><a href="{{ letproject.get_absolute_url }}">{{ letproject.agreement_number }}</a></td>
          <td class="status">{{ letproject.district }}</td>
          <td>{{ letproject.winner }}</td>
        </tr>
    {% endfor %}
  {% endblock %}

  <!-- {% block create %}
  <div class="options">
  {% if request.user.profile.role == 'Preparer' %}
  <a class="button submit" href="{% url 'invoices:invoice_new' %}">Create Invoice</a>
  {% endif %}
  </div>
  {% endblock %} -->
