{% extends "base_nav.html" %}


{% block headers %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
{% endblock %}

{% block title %}{{project.name}}{% endblock %}
{% block styles %}
  #header{
    width: 100%;
    text-align: center;
  }
  th, td{
    padding: 5px;
  }
  .invoice-table{
    margin: 0 auto;
  }
  .data{
    display: flex;
    width: 100%;
  }
  .data ul {
    list-style-type: none;
    width: 50%;
    border: 1px dotted red;
    font-size: 18px;
  }
  li {
    margin-bottom: 5px;
  }
{% endblock %}
{% block content %}
<div id="header">
<h1>{{project.penndot_number}}: {{project.name}}</h1>
<h5 style="color:#aaa">({{project.start_date}} - {{project.end_date}})</h5>
<h6>{{project.prudent_number }}</h6>
</div>

<!-- <div>
<h4>Description</h4>
<p>{{project.description}}</p>
</div>
<div>
<h4>Inspectors</h4>
{% if project.inspector %}
<p>
{% for inspector in project.inspector.all %}
  <a href="{{ inspector.get_absolute_url }}">{{ inspector.first_name }} {{ inspector.last_name }}</a> <br />
{% endfor %}
</p>
{% else %}
<p class="danger">None</p>
{% endif %}
</div> -->

<div class="data">
  <ul>
    <li><strong>Project Totals</strong></li>
    <li>Total Budget: ${{ project.total_budget }}</li>
    <li>Labor Budget: ${{ project.payroll_budget }}</li>
    <li>Other Budget: ${{ project.other_cost_budget }}</li>
    <li>Remaining budget: {{ project.remaining_budget }}</li>
    <li>Business Partner: {{ project.business_partner }}</li>
    
  </ul>
  <ul>
    <li><strong>To Date</strong></li>
    <li>Total Cost: ${{ project.total_invoiced|floatformat:2 }}</li>
    <li>Labor Cost: ${{ project.payroll_to_date }}</li>
    <li>Other Cost: ${{ project.other_cost_to_date }}</li>
    <li>Budget Utilization: {{ project.budget_utilization|floatformat:2 }}%</li>
  </ul>
</div>

<br>
<div class="invoice-table">
  <center><h2>Invoices</h2></center>
  <table id="table">
    <thead>
      <th>Invoice #</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Prudent Invoice #</th>
      <th>Total Cost</th>
    </thead>
    <tbody>
{% for invoice in invoices %}
    <tr>
      <td><a href="{{ invoice.get_absolute_url }}">{{ invoice.estimate_number }}</a></td>
      <td>{{ invoice.start_date|date:"SHORT_DATE_FORMAT" }}</td>
      <td>{{ invoice.end_date|date:"SHORT_DATE_FORMAT" }}</td>
      <td>{{ invoice.invoice_number }}</td>
      <td>${{ invoice.total_cost}}</td>
    </tr>
{% endfor %}
  </tbody>

  </table>
</div>
{% endblock %}
{% block script %}
  $(document).ready(function() {
    $('#table').DataTable({
      "pageLength": 5,
      "lengthChange": false
    });
} );
</script>
{% endblock %}
