{% extends 'table_page.html' %}
{% load humanize %}
{% block title %}Projects List{% endblock %}


{% block page_name %}Current Projects{% endblock %}
{% block table_head %}
  <tr>
    <th>Agreement Number</th>
    <th>Project Number</th>
    <th>Invoiced Through</th>
    <th>Budget Utilizated</th>
  </tr>
  {% endblock %}
  {% block table_body %}
  {% for project in project_list %}
  <tr>
    <td><a href="{{ project.get_absolute_url }}">{{project.penndot_number}}</a></td>
    <td>{{ project.prudent_number }}</td>
    <td>{{ project.last_invoiced }}</td>
    <td>{{ project.budget_utilization|floatformat:2 }}%</td>
  </tr>
  {% endfor %}

{% endblock %}

