{% extends "base_nav.html" %}
{% load static %}
{% load humanize %}

{% block headers %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
    <link rel="stylesheet" href="{% static '/css/project_detail.css' %}">
  <script src="{% static '/js/project_detail.js' %}"></script>
{% endblock %}

{% block title %}{{project.name}}{% endblock %}
{% block styles %}
  #header{
    width: 100%;
    text-align: center;
  }
  th, td{
    padding: 5px;
  }
  .invoice-table{
    margin: 0 auto;
  }
  .data{
    display: flex;
    width: 100%;
  }
  .data ul {
    list-style-type: none;
    width: 50%;
    border-bottom: 1px solid black;
    font-size: 18px;
  }
  .data ul:first-of-type{
    border-right: 1px solid black;
  }
  li {
    margin-bottom: 5px;
  }
{% endblock %}
{% block content %}
<div id="header">
<h1>{{project.penndot_number}}: {{project.name}}</h1>
<h2 style="color:#aaa">({{project.start_date}} - {{project.end_date}})</h2>
<h2 id="project_number" data-id={{project.prudent_number}} >{{project.prudent_number }}</h2>
</div>


<div class="data">
  <ul>
    <li><strong>Project Totals</strong></li>
    <li>Total Budget: ${{ project.total_budget|intcomma }}</li>
    <li>Labor Budget: ${{ project.payroll_budget|intcomma }}</li>
    <li>Other Budget: ${{ project.other_cost_budget|intcomma }}</li>
    <li>Remaining budget: ${{ project.remaining_budget|intcomma }}</li>
    <li>Business Partner: {{ project.business_partner }}</li>
    
  </ul>
  <ul>
    <li><strong>To Date</strong></li>
    <li>Total Cost: ${{ project.total_invoiced|intcomma }}</li>
    <li>Labor Cost: ${{ project.payroll_to_date|intcomma }}</li>
    <li>Other Cost: ${{ project.other_cost_to_date|intcomma }}</li>
    <li>Budget Utilization: {{ project.budget_utilization|floatformat:2 }}%</li>
  </ul>
</div>

<br>
<div class="invoice-table">
  <center><h2>Invoices</h2></center>
  <table id="table">
    <thead>
      <th>Invoice #</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Prudent Invoice #</th>
      <th>Total Cost</th>
    </thead>
    <tbody>
{% for invoice in invoices %}
    {% if invoice.status < 3 %}
      <tr class="incomplete">
    {% else %}
      <tr>
    {% endif %}
      <td><a href="{{ invoice.get_absolute_url }}">{{ invoice.estimate_number }}</a></td>
      <td>{{ invoice.start_date|date:"SHORT_DATE_FORMAT" }}</td>
      <td>{{ invoice.end_date|date:"SHORT_DATE_FORMAT" }}</td>
      <td>{{ invoice.invoice_number }}</td>
      <td>${{ invoice.total_cost|intcomma}}</td>
    </tr>
{% endfor %}
  </tbody>

  </table>
  {% if request.user.profile.role == 'Preparer' or request.user.profile.role == 'Manager' %}
  <button id="invoice-button" class="button submit"> Create Invoice</button>
  {% endif %}
</div>

<!-- Modal for Create Invoice onclick -->
<div class="modal">
  
  <div class="modal-body">
      <h2>Create Invoice</h2>
      <h5 id="modal-message"></h5>
  <form action="" id="invoice-form" enctype="multipart/form-data">
    {% csrf_token %}

  </form>
</div>

{% endblock %}
{% block script %}
  $(document).ready(function() {
    $('#table').DataTable({
      "pageLength": 5,
      "lengthChange": false,
      "order": [0, "desc"]
    });
} );
</script>
{% endblock %}
