{% extends 'table_page.html' %}
{% block title %}Projects List{% endblock %}


{% block page_name %}Current Projects{% endblock %}
{% block table_head %}
  <tr>
    <th>Agreement Number</th>
    <th>Project Number</th>
    <!-- <th>Budget</th>
    <th>Total Invoiced</th> -->
    <th>Invoiced Through</th>
  </tr>
  {% endblock %}
  {% block table_body %}
  {% for project in project_list %}
  <tr>
    <td><a href="{{ project.get_absolute_url }}">{{project.penndot_number}}</a></td>
    <td>{{ project.prudent_number }}</td>
    <!-- <td>${{ project.total_budget|floatformat:2 }}</td>
    <td>${{ project.total_invoiced|floatformat:2 }}</td> -->
    <td>{{ project.last_invoiced }}</td>
  </tr>
  {% endfor %}

{% endblock %}

