
{% extends 'base_registration.html' %}
{% block title %}Titleass headass boy{% endblock %}

{% block content %}

{% if form.errors %}

<p style="color:#F37224; font-weight:bold;">Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
  {% if user.is_authenticated %}
  <p>Your account doesn't have access to this page. To proceed,
  please login with an account that has access.</p>
  {% else %}
  <p>Please login to see this page.</p>
  {% endif %}
{% endif %}

<form action="{% url 'login' %}" method="post">
{% csrf_token %}

<div class="login-form">
  <td>{{ form.username.label_tag }}</td>
  <td>{{ form.username }}</td>
</div>
<div class="">
  <td>{{ form.password.label_tag }}</td>
  <td>{{ form.password }}</td>
</div>

<div class="login-buttons">
  <input class='button' id="loginButton" type="submit" name="" value="Login" />
  <input class='button' id="guestLog" type="button" name="" value="login as guest">
  <input type="hidden" name="next" value="{{ next}}" />
</div>
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'password_reset' %}">Lost password?</a></p>

{% endblock %}

{% block script %}
  <script>
    $("#guestLog").on("click", function(){
      $("#id_username").val("MBaggoo399120")
      $("#id_password").val("MB7519203484")
      $("#loginButton").click();
    })
  </script>
{% endblock %}
