{% extends "generic.html" %}

{% block content %}

{% if validlink %}

  <p>Please enter (and confirm) your new password</p>
  <form  action="" method="post">
    <div style="display: none">
      <input type="hidden" name="" value="{{csrf_token}}" name="csrfmiddlewaretoken">
    </div>
    <table>
      <tr>
        <td>{{ form.new_password1.errors}}
            <label for="id_new_password1">New password:</label>
        </td>
        <td>{{ form.new_password1 }}</td>
      </tr>
      <tr>
        <td>{{ form.new_password2.errors}}
            <label for="id_new_password2">Confirm password:</label>
        </td>
        <td>{{ form.new_password2 }}</td>
      </tr>
      <tr>
        <td></td>
        <td><input type="submit" name="" value="Update Password" /></td>
      </tr>
    </table>
  </form>
{% else %}
  <h1>Password reset failed</h1>
  <p>The reset link was invalid, likely because it has already been used. please request
     <a href="{% url 'password_reset_form' %}">a new password reset</a></p>
{% endif %}

{% endblock %}
